[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
fastapi = "*"
uvicorn = "*"
pydantic-settings = "*"
alembic = "*"
psycopg2-binary = "*"
pydantic = {extras = ["email"], version = "*"}
asyncpg = "*"
babel = "*"
sqlalchemy-utils = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
passlib = "*"
python-jose = "*"
python-multipart = "*"
ujson = "*"

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
